<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-show指令</title>
    <script src="../../static/vue/vue.js"></script>
</head>
<body>
<!--在一个容器中引用vue对象-->
<div id="app">
    <input type="button" value="显示或隐藏图片" @click="doSomething">
    <br>
    <img v-show="isShow" src="http://www.bjtuhbxy.edu.cn/images/lsjdn.jpg">
</div>

<script>
    //1、定义一个Vue对象
    var app=new Vue({
        //2、声明一个挂载点
        el:'#app',
        //3、定义vue要处理的数据
        data:{
            isShow:true
        },
        //4、方法
        methods:{
            doSomething:function () {
                this.isShow=!this.isShow;

            }
        }
        //5、vue各种钩子（生命周期函数）
    });
</script>
</body>
</html>